a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: #5a5a5a;
  padding: 20px;
  color: white;
  display: block;
}


.hero {
  background-image: url('../img/banerPizzaHero.jpg');
  height: 100%;
  color: white;
}
